{
  "presets": [
    ["env", {
      "targets": {
        "node": 6.10,
        "uglify": true
      }
    }]
  ],
  "plugins": [
    "ramda",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    "transform-runtime"
  ]
}
