{
  "presets": [
    ["env", {
      "targets": {
        "forceAllTransforms": true
      }
    }]
  ],
  "plugins": [
    "ramda",
    "transform-promise-to-bluebird",
    "transform-runtime"
  ]
}
